#home {
    background-image: url("../../Images/parking_home.png");
    background-repeat: no-repeat;
    background-size: 100% 700%;
}

.welcome {
    text-align: center;
}

.enter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    position: relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
}
