#home {
    background-image: url("../../Images/parking_home.png");
    background-repeat: no-repeat;
    background-size: 100% 469%;
}

.welcome {
    text-align: center;
}

.enter {
    background-color: #4CAD9F;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    position: relative;
    transition: .5s ease;
    top: 31em;
    left: 27em;
}
